<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About AquaFour</title>
    <style>
    body{
        background-color:teal;
        color:white;
        text-align:center;
    }
    h1{
        color:lightgreen;
    }
    h2{
        color:lightgreen;
    }
    </style>
</head>
<body>
    <h1> About AquaFour </h1>
    <h2> What is AquaFour? </h2>
    <p> AquaFour is a project created by high school students with the intention to help communities protect themselves
        from floods, if they were to occur. We're using both software and hardware in order to accomplish this task. </p>
    <br>
    <h2> Software  </h2> <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzRO1A9SFhLx2Mi02AuKfOI9yGRj1H-Qqtezqdq-Acew&s" width = "200" height = "200">
    <p> The programming languages that we used for our project are HTML, CSS, Javascript, Fusion 360 and Python. We used the microweb framework called Flask in
        order to connect Python with HTML webpages. We also used an API called openweatherAPI to recive the data about the weather. We plugged this data in to recive flood chance(note: it is not 100% accurate as we do not have water level) </p>
    <br>
    <h2> Hysense Sensor </h2> 
    <p> The Hysense Sensor is a water sensor that checks the height level of water surrounding it. The water sensor sensor model consists of a solar panel at the top,
        a gateway at the bottom where the trapezoid is located. The black boxes hold the batteries and the connecter pole holds the wires. 
        How the gate works is it opens up when it detects water, once the water is inside, it holds the water for 2 min and every 2 min it opens and checks if the water
        level increases or decreases. If it is increased it will send a signal to first responders. </p>
    <h1> Get your own Hysense Sensor and use our AquaFour app to help alert you in case a flood happens! </h1>
</body>
</html>